/*
-----------------------------------------------
Navigation
----------------------------------------------- */

/* navigation (horizontal subnavigation)
----------------------------------------------- */
ul.nav,
ul.nav * { margin:0;padding:0;}
ul.nav {
  position:relative;
  background:url(../img/nav-repeat2.jpg) repeat-x !important;
  max-width:100%;
  height:3.7em; 
  }
ul.nav li {
	cursor:pointer;
	float:left;
	text-align:center;
	list-style-type:none;
	font-weight:normal;
	vertical-align:middle;
}
ul.nav li ul {
	cursor:default;
	width:100%;
	max-width:100%;
	position:absolute;
	height:auto;
	top:3.4em;
	background-position:0 0 !important;
	left:-9000px;
}
ul.nav li ul li {
	padding:0;
	border:none;
	width:auto;
	max-width:none;
}
ul.nav li a {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;
	padding:0 1em;
	height:3.7em;
	line-height:3.7em;
	
}
ul.nav li ul li a {
	position:relative !important; /* ie Mac */
	cursor:pointer !important;
	white-space:nowrap;
	line-height:2.5em;
	height:2.5em;
	font-weight:normal;
	color:#666;
	background-position:0 50% !important;
}

ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#000; background:#103D5F;}
ul.nav li a:active {color:#666; background:#fff;}
ul.nav li:hover ul {left:0;z-index:10}
ul.nav li ul,
ul.nav li {}
ul.nav li:hover ul li a {color:#444;}
ul.nav li:hover ul li a:hover {color:#000; background:#fff;}
ul.nav li:hover ul li a:active {color:#666; background:#fff;}

ul.nav li.current a {color:#666; background:#fff; cursor:default; font-weight:bold;}
ul.nav li.current ul {left:0;z-index:5}
ul.nav li.current ul,
ul.nav li.current {background:#103D5F !important}
ul.nav li.current ul li a {color:#444; background:#103D5F; font-weight:normal;}
ul.nav li.current ul li a:hover {color:#000; background:#fff;}
ul.nav li ul li.current a,
ul.nav li ul li.current a:hover,
ul.nav li.current:hover ul li a:active {color:#666; background:#fff;}


/* navigation (vertical subnavigation)
----------------------------------------------- */
ul.nav {
  
}
ul.main li {
  position:relative;
  top:0;
  left:0;
}
ul.main li ul {
  border-top:0;
}
ul.main li ul li {
  float:left;
}
ul.main li a {
	height:3.7em;
	line-height:3.7em;
	border:0;
	color:#fff;

}
ul.main li ul li a {
  width:12em;
  line-height:3em;
  height:3em;
  text-align:left;
  color:#fff;
  border-top:1px solid #1A3A52;
  background:#103D5F;
}
ul.main li a:focus {color:#fff; background:#103D5F;}
ul.main li ul li a:hover {
  color:#fff;
  background:#103D5F;
}
ul.main li:hover a {
  color:#fff;
  background:#103D5F;
}
ul.main li:hover ul li a {color:#fff;}
ul.main li:hover ul li a:hover {color:#fff; background:#2D536F;}
ul.main li:hover a:active {background:#103D5F;}
ul.main li:hover ul li a:active {color:#fff; background:#103D5F;}


/* secondary list
----------------------------------------------- */
ul.nav li.secondary {
	float:right;
	color:#cde;
	background:transparent !important;
}
ul.nav li.secondary span.status {
	float:left;
	padding:0 1em;
	line-height:2.77em;
	height:2.77em;
  font-size:0.9em;
}
ul.nav li.secondary span.status a {
	float:none;
	display:inline;
	padding:0;
	height:auto;
	line-height:auto;
	color:#cde;
	background:transparent;
}
ul.nav li.secondary span.status a:hover {
	color:#fff;
	background:transparent;
}
ul.nav li.secondary span.status span {
	text-transform:capitalize;
}
ul.nav li.secondary:hover a {
	color:#fff;
	background:#1F4562;
}
ul.nav li.secondary:hover a:hover {
	background:#1F4562;
}
ul.nav li.secondary:hover a:active {background:#1F4562;}

ul.nav li.ic-dashboard a span, .ic-dashboard{background:url(../img/icon-dashboard.png) no-repeat center left;}
ul.nav li.ic-typography a span, .ic-typography{background:url(../img/icon-typography.png) no-repeat center left;}
ul.nav li.ic-charts a span, .ic-charts{background:url(../img/icon-charts-graphs.png) no-repeat center left;}
ul.nav li.ic-form-style a span, .ic-form-style{background:url(../img/icon-form-style.png) no-repeat center left;}
ul.nav li.ic-grid-tables a span, .ic-grid-tables{background:url(../img/icon-grid-tables.png) no-repeat center left;}
ul.nav li.ic-gallery a span, .ic-gallery{background:url(../img/icon-gallery.png) no-repeat center left;}
ul.nav li.ic-notifications a span, .ic-notifications{background:url(../img/icon-notifications.png) no-repeat center left;}
ul.nav li {
background-image: none !important;
}

ul.nav li a span {
padding: 0px 0px 0px 30px;
display: block;
background-repeat: no-repeat;
white-space: nowrap;
}

li.dd span:after{content: '';}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#cssmenu ul {
    position: relative;
    z-index: 597;
    float: left;
}
#cssmenu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#cssmenu ul ul {
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    top: 1px;
    left: 99%;
    z-index: 598;
    width: 100%;
}
#cssmenu ul ul li {
    float: none;
}
#cssmenu ul ul ul {
    top: 1px;
    left: 99%;
}
#cssmenu ul li:hover > ul {
    visibility: visible;
}
#cssmenu ul li {
    float: none;
}
#cssmenu ul ul li {
    font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 200px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
    display: block;
    color: #848889;
    text-decoration: none;
    font-weight: 300;
}
#cssmenu > ul {
    float: none;
}
#cssmenu ul {
    background: #fff;
}
#cssmenu > ul > li {
    border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
    padding: 10px 20px;
}
#cssmenu > ul > li:hover {
    border-left: 3px solid #3dbd99;
}
#cssmenu ul li:hover > a {
    color: #3dbd99;
}
#cssmenu > ul > li:hover {
    background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
    font-weight: 400;
    font-size: 14px;
}
#cssmenu ul ul {
    width: 180px;
    background: none;
    border-left: 20px solid transparent;
}
#cssmenu ul ul a {
    padding: 8px 0;
    border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
    padding: 0 20px;
    background: #fff;
}
#cssmenu ul ul li:last-child {
    border-bottom: 3px solid #d7d8da;
    padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
    padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
    border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 13px;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}


#expensive-outPut, .registered{
    border:3px solid #eeeeee;
    padding:15px;
    background: #D1DEE4;
    color:#203360;
    margin:30px auto 40px auto;
    width:400px;
    float:left;
    display: inline;
}



.form-sub-title{
    font-size:20px;

    font-weight:bold;
    padding:6px 0 15px 0;
}

.greenButton{
    width:auto;
    margin:10px 0 0 2px;
    padding:3px 4px 3px 4px;
    color:white;
    background-color:#589d39;
    outline:none;
    border:1px solid #006600;
    font-weight:bold;
}

.greenButton:active{
    background-color:#006600;
    padding:4px 3px 2px 5px;
}

#loading{
    left:10px;
    position:relative;
    top:3px;
    visibility:hidden;
}

#error{
    background-color:#ffebe8;
    border:1px solid #dd3c10;
    padding:7px 3px;
    text-align:center;
    margin-top:10px;
    visibility:hidden;
}

#expenseInputUser
{
	width: 200px;
	height: 50px;
	border:solid;
	border-width:1px;
	margin-left:125px;
}

#expensive-outPut label{
    font-size:11px;
    display:block;
    text-align:right;
}

#expensive-outPut table{
    width:225px;
}

#expensive-outPut td{
    font-size:11px;
}

#expensive-outPut .input-container{
    padding:1px;
}

#w {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
}

#content {
    display: block;
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.paginate {
    display: block;
    width: 100%;
    font-size: 1.2em;
}


.pagination
{
    font-weight: bold;
}

.pagination a
{

}

.paginate.pag2 li a {
    display: block;
    color: #585858;
    text-decoration: none;
    padding: 6px 11px;
    margin-right: 6px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eee));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #eee);
    background-image: -moz-linear-gradient(top, #f7f7f7, #eee);
    background-image: -ms-linear-gradient(top, #f7f7f7, #eee);
    background-image: -o-linear-gradient(top, #f7f7f7, #eee);
    background-image: linear-gradient(top, #f7f7f7, #eee);
    -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
    -moz-box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
    box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
}
.paginate.pag2 li a:hover {
    color: #3280dc;
}
.paginate.pag2 li a:active {
    position: relative;
    top: 1px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0, .55);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0, .55);
    box-shadow: 1px 1px 3px -1px rgba(0,0,0, .55);
}

.paginate.pag2 li.single, .paginate.pag2 li.current {
    display: block;
    float: left;
    padding: 6px 11px;
    padding-top: 8px;
    margin-right: 6px;
    border-radius: 3px;
    color: #676767;
}